*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body
{
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* header */
.container
{
    height: 80px;
    width: auto;
    background-color: #255ee9;
    position: relative;
}


.box
{
    margin: 0 80px;
    /* position: relative; */
}

.logo
{
    position: absolute;
    top: 30%;
}

.logo:hover{
    cursor: pointer;
}


.menu nav
{
    text-align: center;
    padding: 30px;
}


.menu nav ul li
{
    display: inline-block;
    font-weight: bold;
    padding: 0 20px;
}

.menu nav ul li a
{
    color: white;
    font-size: 15px;
    text-decoration: none;
}


.menu nav ul li a:hover
{
    text-decoration: 1px underline;
}

.button 
{
    border-radius: 40px;
    background-color: white;
    font-size: 14px;
    padding: 7px 16px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    color: black;
    position: absolute;
    top: 30%;
    right: 7%;
    cursor: pointer;
}

.button:hover
{
    color:cadetblue;
}
/* fine header */






/* jumbotron */

.jumbotron
{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    position:relative
}


.jumbotron .corpo-centrale
{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.jumbotron .corpo-centrale .testo h1
{
    font-size: 50px;
    margin-bottom: 20px;
}

.jumbotron .corpo-centrale .testo p
{
    font-size: 18px;
    line-height: 2;
}


.bottoni-corpo-white
{
    border-radius: 28px;
    background-color: white;
    padding: 16px 32px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    color: #23272a;
    position: absolute;
    bottom: 18%;
    left: 31%;
    cursor: pointer;
    font-weight: bold;
}

.bottoni-corpo-white:hover
{
    color:cadetblue;
}

.bottoni-corpo-black
{
    border-radius: 28px;
    background-color: #23272a;
    padding: 16px 32px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: 18%;
    left: 48%;
    cursor: pointer;
    font-weight: bold;
}

.bottoni-corpo-black:hover
{
    color:cadetblue;
}

/* fine jumbotron */



/* main */


.corpo-main
{
    position: relative;
    padding: 40px 60px;
}

.text1
{
    position: absolute;
    top: 15%;
    right: 10%;
    width: 25%;
}

.text h2
{
    font-size: 40px;
    margin-bottom: 20px;
}

.text p
{
    font-size: 18px;
}

.bg-scuro
{
    background-color: #b1b4b6;
}

.text2
{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 25%;
}


/* footer */

.container-footer
{
    height: 600px;
    width: 100%;
    background-color: #23272a;
    position: relative;
    
}

.loghi h2
{
    font-size: 28px;
    font-weight: bold;
    color: #7289da;
    width: 70%;
    margin-bottom: 15px;
}

.loghi span
{
    font-size: 14px;
    color: white;
}

#ita
{
    height: 20px;
}


.loghi
{
    position: absolute;
    top: 10%;
    left: 20%;
    
}


.loghi nav
{
    padding: 10px;
}


.loghi nav ul li
{
    display: inline-block;
    font-weight: bold;
    padding: 0 10px;
    color: white;
}

#ita:hover
{
    cursor: pointer;
}

.loghi span:hover
{
    cursor: pointer;
}

.loghi nav ul li:hover
{
    cursor: pointer;
}


.prima-colonna
{
    position: absolute;
    top: 11%;
    left: 40%;
}

.position nav ul li a
{
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.position nav ul li
{
    list-style: none;
    margin-bottom: 10px;
}

#titolo{
    color: #7289da;
    text-decoration: none;
}

.position nav ul li a:hover
{
    text-decoration: 1px underline;
}

.seconda-colonna
{
    position: absolute;
    top: 11%;
    left: 52%;
}

.terza-colonna
{
    position: absolute;
    top: 11%;
    left: 64%;
}

.quarta-colonna
{
    position: absolute;
    top: 11%;
    left: 76%;
}

.logo2
{
    position: absolute;
    bottom: 10%;
    left: 20%;
}

.logo2:hover
{
    cursor: pointer;
}


.button2 
{
    border-radius: 40px;
    background-color: #8ea1e1;
    font-size: 14px;
    padding: 7px 16px;
    border: none;
    text-decoration: none;
    font-size: 14px;
    color: white;
    position: absolute;
    bottom: 10%;
    right: 20%;
    cursor: pointer;
}

.button2:hover
{
    color:cadetblue;
}

.bordo
{
    border-bottom: 1px solid #8ea1e1;
    position: absolute;
    bottom: 20%;
    left: 15%;
    width: 70%;

}






/* debug */


/* .debug .box
{
    background-color: red; 
    height: 80px;
} */

/* .debug .jumbotron
{
    background-color: green;
} */

/* .debug {
    background-color: blue;
    height: 500px;
} */